@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;

.btn-primary {
  @include button($color-primary);
}

.btn-outline {
  @include button($color-white, $color-primary);
  border: 2px solid $color-primary;
  background-color: transparent;
}



// Boutons d'action dans les cartes de vin
.btn-icon {
  background: none;
  border: 1px solid rgba($color-white, 0.3);
  border-radius: 6px;
  padding: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: $color-white;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.8;
    transform: scale(1.1);
    border-color: $color-white;
    background-color: rgba($color-white, 0.1);
  }
}